{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="{% static 'img/avic_icon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/downloads.css' %}">
    <title>Downloads</title>
</head>
<body>
    <header>
        <h1 class="titulosite">Avic Sistemas</h1>
        <h2 class="titulosite">&#9742 (34) 3223 - 0907</h2>
        <ul>
            <li>SOBRE</li>
            <li>SOLUÇÕES</li>
            <li>SEGMENTOS</li>
            <li>SUPORTE</li>
            <li>DOWNLOADS</li>
            <li>CONTATO</li>
        </ul>
    </header>
</body>
</html>